{
  "extends": "airbnb",
  "globals": {
    "__DEV__": false,
    "__PROD__": false,
    "__DEBUG__": false,
    "__DEBUG_NW__": false,
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "key-spacing": [0, {
      "beforeColon": true,
      "afterColon": true
    }],
    "no-console": 0,
    "no-else-return": 0,
    "space-before-function-paren": [0, "always"],
    "jsx-quotes": [0, "prefer-single"],
    "react/jsx-boolean-value": [0, "always"],
    "func-names": 0,
    "id-length": [2, {
      "min": 1
    }]
  }
}
